In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
url = 'https://www.iplt20.com/auction/2024'
page = requests.get (url)
print(page)

<Response [200]>

In [178]:
soup = BeautifulSoup (page.text,'lxml')

In [164]:
soup.find_all ('table')[-3]
soup.find ('table',class_='ih-td-tab auction-tbl')
table = soup.find_all ('table')[-3]
soup.find_all ('th')
topbuys_titles = table.find_all ('th')
print(topbuys_titles)
topbuys_table_titles = [title.text.strip() for title in topbuys_titles]
print(topbuys_table_titles)

[<th class="skip-filter" style="text-align: left;">Sr. No.</th>, <th class="skip-filter" style="text-align: left;">Team</th>, <th class="skip-filter">Player</th>, <th class="skip-filter">Base Price</th>, <th class="skip-filter">Winning Bid</th>, <th></th>]
['Sr. No.', 'Team', 'Player', 'Base Price', 'Winning Bid', '']

In [166]:
df = pd.DataFrame (columns = topbuys_table_titles)

In [168]:
df

Empty DataFrame
Columns: [Sr. No., Team, Player, Base Price, Winning Bid, ]
Index: []

In [208]:
rows = table.find_all ('tr')
for i in rows[1:]:
  first_td = i.find_all ('td')[0].find ('div',class_='ih-pt-img').text.strip()
  data = i.find_all ('td')
  row = [tr.text for tr in data]
  row.insert (0,first_td)
  print(row)
  l = len (df)
  df.loc [l] =row

print(df)

['', '\n\n\n\n\n\n', 'Rishabh Pant', '2,00,00,000 ', '₹27,00,00,000', '']
['', '\n\n\n\n\n\n', 'Shreyas Iyer', '2,00,00,000 ', '₹26,75,00,000', '']
['', '\n\n\n\n\n\n', 'Venkatesh Iyer', '2,00,00,000 ', '₹23,75,00,000', '']
['', '\n\n\n\n\n\n', 'Arshdeep Singh', '2,00,00,000 ', '₹18,00,00,000', '  ']
['', '\n\n\n\n\n\n', 'Yuzvendra Chahal', '2,00,00,000 ', '₹18,00,00,000', '']
['', '\n\n\n\n\n\n', 'Jos  Buttler   ', '2,00,00,000 ', '₹15,75,00,000', '']
['', '\n\n\n\n\n\n', 'KL Rahul', '2,00,00,000 ', '₹14,00,00,000', '']
['', '\n\n\n\n\n\n', 'Trent Boult  ', '2,00,00,000 ', '₹12,50,00,000', '']
['', '\n\n\n\n\n\n', 'Jofra Archer  ', '2,00,00,000 ', '₹12,50,00,000', '']
['', '\n\n\n\n\n\n', 'Josh Hazlewood   ', '2,00,00,000 ', '₹12,50,00,000', '']
['', '\n\n\n\n\n\n', 'Mohammad Siraj', '2,00,00,000 ', '₹12,25,00,000', '']
['', '\n\n\n\n\n\n', 'Mitchell Starc  ', '2,00,00,000 ', '₹11,75,00,000', '']
['', '\n\n\n\n\n\n', 'Phil Salt  ', '2,00,00,000 ', '₹11,50,00,000', '']
['', '\n\n\n\n\n\n', 'Ishan Kishan', '2,00,00,000 ', '₹11,25,00,000', '']
['', '\n\n\n\n\n\n', 'Marcus Stoinis  ', '2,00,00,000 ', '₹11,00,00,000', '']
['', '\n\n\n\n\n\n', 'Jitesh Sharma', '1,00,00,000 ', '₹11,00,00,000', '']
['', '\n\n\n\n\n\n', 'T. Natarajan', '2,00,00,000 ', '₹10,75,00,000', '']
['', '\n\n\n\n\n\n', 'Kagiso Rabada  ', '2,00,00,000 ', '₹10,75,00,000', '']
['', '\n\n\n\n\n\n', 'Bhuvneshwar Kumar', '2,00,00,000 ', '₹10,75,00,000', '']
['', '\n\n\n\n\n\n', 'Noor Ahmad  ', '2,00,00,000 ', '₹10,00,00,000', '']
   Sr. No.          Team             Player    Base Price    Winning Bid
0           \n\n\n\n\n\n       Rishabh Pant  2,00,00,000   ₹27,00,00,000
1           \n\n\n\n\n\n       Shreyas Iyer  2,00,00,000   ₹26,75,00,000
2           \n\n\n\n\n\n     Venkatesh Iyer  2,00,00,000   ₹23,75,00,000
3           \n\n\n\n\n\n     Arshdeep Singh  2,00,00,000   ₹18,00,00,000
4           \n\n\n\n\n\n   Yuzvendra Chahal  2,00,00,000   ₹18,00,00,000
5           \n\n\n\n\n\n    Jos  Buttler     2,00,00,000   ₹15,75,00,000
6           \n\n\n\n\n\n           KL Rahul  2,00,00,000   ₹14,00,00,000
7           \n\n\n\n\n\n      Trent Boult    2,00,00,000   ₹12,50,00,000
8           \n\n\n\n\n\n     Jofra Archer    2,00,00,000   ₹12,50,00,000
9           \n\n\n\n\n\n  Josh Hazlewood     2,00,00,000   ₹12,50,00,000
10          \n\n\n\n\n\n     Mohammad Siraj  2,00,00,000   ₹12,25,00,000
11          \n\n\n\n\n\n   Mitchell Starc    2,00,00,000   ₹11,75,00,000
12          \n\n\n\n\n\n        Phil Salt    2,00,00,000   ₹11,50,00,000
13          \n\n\n\n\n\n       Ishan Kishan  2,00,00,000   ₹11,25,00,000
14          \n\n\n\n\n\n   Marcus Stoinis    2,00,00,000   ₹11,00,00,000
15          \n\n\n\n\n\n      Jitesh Sharma  1,00,00,000   ₹11,00,00,000
16          \n\n\n\n\n\n       T. Natarajan  2,00,00,000   ₹10,75,00,000
17          \n\n\n\n\n\n    Kagiso Rabada    2,00,00,000   ₹10,75,00,000
18          \n\n\n\n\n\n  Bhuvneshwar Kumar  2,00,00,000   ₹10,75,00,000
19          \n\n\n\n\n\n       Noor Ahmad    2,00,00,000   ₹10,00,00,000
20          \n\n\n\n\n\n       Rishabh Pant  2,00,00,000   ₹27,00,00,000
21          \n\n\n\n\n\n       Shreyas Iyer  2,00,00,000   ₹26,75,00,000
22          \n\n\n\n\n\n     Venkatesh Iyer  2,00,00,000   ₹23,75,00,000
23          \n\n\n\n\n\n     Arshdeep Singh  2,00,00,000   ₹18,00,00,000
24          \n\n\n\n\n\n   Yuzvendra Chahal  2,00,00,000   ₹18,00,00,000
25          \n\n\n\n\n\n    Jos  Buttler     2,00,00,000   ₹15,75,00,000
26          \n\n\n\n\n\n           KL Rahul  2,00,00,000   ₹14,00,00,000
27          \n\n\n\n\n\n      Trent Boult    2,00,00,000   ₹12,50,00,000
28          \n\n\n\n\n\n     Jofra Archer    2,00,00,000   ₹12,50,00,000
29          \n\n\n\n\n\n  Josh Hazlewood     2,00,00,000   ₹12,50,00,000
30          \n\n\n\n\n\n     Mohammad Siraj  2,00,00,000   ₹12,25,00,000
31          \n\n\n\n\n\n   Mitchell Starc    2,00,00,000   ₹11,75,00,000
32          \n\n\n\n\n\n        Phil Salt    2,00,00,000   ₹11,50,00,000
33          \n\n\n\n\n\n       Ishan Kishan  2,00,00,000   ₹11,25,00,000
34          \n\n\n\n\n\n   Marcus Stoinis    2,00,00,000   ₹11,00,00,000
35          \n\n\n\n\n\n      Jitesh Sharma  1,00,00,000   ₹11,00,00,000
36          \n\n\n\n\n\n       T. Natarajan  2,00,00,000   ₹10,75,00,000
37          \n\n\n\n\n\n    Kagiso Rabada    2,00,00,000   ₹10,75,00,000
38          \n\n\n\n\n\n  Bhuvneshwar Kumar  2,00,00,000   ₹10,75,00,000
39          \n\n\n\n\n\n       Noor Ahmad    2,00,00,000   ₹10,00,00,000
40          \n\n\n\n\n\n       Rishabh Pant  2,00,00,000   ₹27,00,00,000
41          \n\n\n\n\n\n       Shreyas Iyer  2,00,00,000   ₹26,75,00,000
42          \n\n\n\n\n\n     Venkatesh Iyer  2,00,00,000   ₹23,75,00,000
43          \n\n\n\n\n\n     Arshdeep Singh  2,00,00,000   ₹18,00,00,000
44          \n\n\n\n\n\n   Yuzvendra Chahal  2,00,00,000   ₹18,00,00,000
45          \n\n\n\n\n\n    Jos  Buttler     2,00,00,000   ₹15,75,00,000
46          \n\n\n\n\n\n           KL Rahul  2,00,00,000   ₹14,00,00,000
47          \n\n\n\n\n\n      Trent Boult    2,00,00,000   ₹12,50,00,000
48          \n\n\n\n\n\n     Jofra Archer    2,00,00,000   ₹12,50,00,000
49          \n\n\n\n\n\n  Josh Hazlewood     2,00,00,000   ₹12,50,00,000
50          \n\n\n\n\n\n     Mohammad Siraj  2,00,00,000   ₹12,25,00,000
51          \n\n\n\n\n\n   Mitchell Starc    2,00,00,000   ₹11,75,00,000
52          \n\n\n\n\n\n        Phil Salt    2,00,00,000   ₹11,50,00,000
53          \n\n\n\n\n\n       Ishan Kishan  2,00,00,000   ₹11,25,00,000
54          \n\n\n\n\n\n   Marcus Stoinis    2,00,00,000   ₹11,00,00,000
55          \n\n\n\n\n\n      Jitesh Sharma  1,00,00,000   ₹11,00,00,000
56          \n\n\n\n\n\n       T. Natarajan  2,00,00,000   ₹10,75,00,000
57          \n\n\n\n\n\n    Kagiso Rabada    2,00,00,000   ₹10,75,00,000
58          \n\n\n\n\n\n  Bhuvneshwar Kumar  2,00,00,000   ₹10,75,00,000
59          \n\n\n\n\n\n       Noor Ahmad    2,00,00,000   ₹10,00,00,000

In [188]:
df

   Sr. No.          Team             Player    Base Price    Winning Bid
0           \n\n\n\n\n\n       Rishabh Pant  2,00,00,000   ₹27,00,00,000
1           \n\n\n\n\n\n       Shreyas Iyer  2,00,00,000   ₹26,75,00,000
2           \n\n\n\n\n\n     Venkatesh Iyer  2,00,00,000   ₹23,75,00,000
3           \n\n\n\n\n\n     Arshdeep Singh  2,00,00,000   ₹18,00,00,000
4           \n\n\n\n\n\n   Yuzvendra Chahal  2,00,00,000   ₹18,00,00,000
5           \n\n\n\n\n\n    Jos  Buttler     2,00,00,000   ₹15,75,00,000
6           \n\n\n\n\n\n           KL Rahul  2,00,00,000   ₹14,00,00,000
7           \n\n\n\n\n\n      Trent Boult    2,00,00,000   ₹12,50,00,000
8           \n\n\n\n\n\n     Jofra Archer    2,00,00,000   ₹12,50,00,000
9           \n\n\n\n\n\n  Josh Hazlewood     2,00,00,000   ₹12,50,00,000
10          \n\n\n\n\n\n     Mohammad Siraj  2,00,00,000   ₹12,25,00,000
11          \n\n\n\n\n\n   Mitchell Starc    2,00,00,000   ₹11,75,00,000
12          \n\n\n\n\n\n        Phil Salt    2,00,00,000   ₹11,50,00,000
13          \n\n\n\n\n\n       Ishan Kishan  2,00,00,000   ₹11,25,00,000
14          \n\n\n\n\n\n   Marcus Stoinis    2,00,00,000   ₹11,00,00,000
15          \n\n\n\n\n\n      Jitesh Sharma  1,00,00,000   ₹11,00,00,000
16          \n\n\n\n\n\n       T. Natarajan  2,00,00,000   ₹10,75,00,000
17          \n\n\n\n\n\n    Kagiso Rabada    2,00,00,000   ₹10,75,00,000
18          \n\n\n\n\n\n  Bhuvneshwar Kumar  2,00,00,000   ₹10,75,00,000
19          \n\n\n\n\n\n       Noor Ahmad    2,00,00,000   ₹10,00,00,000

In [204]:
df.to_csv (r"C:\Users\Administrator\OneDrive\Documents\WebscrapingFiles\IPLTopbuys.csv")